import { registerBlockStyle } from '@wordpress/blocks';

import './style.scss';

/**
 * Sample registerBlockStyle function
 *

registerBlockStyle( 'core/heading', {
    name: '{{namespace}}-{{slug}}',
    label: '{{title}}'
});

*/
